<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>算法基础课</title>
</head>

<body>

    <a href="https://app5427.acapp.acwing.com.cn//algorithm/basic_acwing/基础算法">
        <h3>1. 基础算法</h3>
    </a>


    * 排序
    * 二分
    * 高精度
    * 前缀和与差分
    * 双指针算法
    * 位运算
    * 离散化
    * 区间合并

    <a href="https://app5427.acapp.acwing.com.cn//algorithm/basic_acwing/数据结构">
        <h3>2. 数据结构</h3>
    </a>

    * 链表与邻接表：树与图的存储
    * 栈与队列：单调队列、单调栈
    * kmp
    * Trie
    * 并查集
    * 堆
    * Hash表

    <a href="https://app5427.acapp.acwing.com.cn//algorithm/basic_acwing/搜索与图论">
        <h3>3. 搜索与图论</h3>
    </a>


    * DFS与BFS
    * 树与图的遍历：拓扑排序
    * 最短路
    * 最小生成树
    * 二分图：染色法、匈牙利算法

    <h3>4. 数学知识</h3>

    * 质数
    * 约数
    * 欧拉函数
    * 快速幂
    * 扩展欧几里得算法
    * 中国剩余定理
    * 高斯消元
    * 组合计数
    * 容斥原理
    * 简单博弈论

    <h3>5. 动态规划</h3>

    * 背包问题
    * 线性DP
    * 区间DP
    * 计数类DP
    * 数位统计DP
    * 状态压缩DP
    * 树形DP
    * 记忆化搜索

    <h3>6. 贪心</h3>

    <h3>7. 时空复杂度分析</h3>
</body>

</html>