/*标题导航栏开始*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

.filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
    display: flex;
}

.max-width {
    max-width: none;
    padding: 0 10%;
    box-sizing: border-box;
    width: 100%;
}

body {
    /* background-color: rgb(29, 31, 33); */
    background: url("/media/image/searchbg.jpg");
    background-position: 0% !important;
    /* background-attachment: fixed !important; */
    background-size: cover !important;

    display: flex;
    justify-content: center;
    align-items: center;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


.nav li {
    float: left;
    margin: 0;
    padding-top: 21px;
    min-width: 100px;
}

.nav li:nth-child(1) {
    margin: 0 -20px 0 40px;
}

.nav a {
    height: 33px;
    /* background: url("07.png") no-repeat left; */
    padding-left: 10px;
    color: #fff;
    display: block;
    line-height: 33px;
    font-weight: 700;
    font-size: 14px;

}

.nav span {
    height: 33px;
    display: block;
    /* background: url("03.png") no-repeat right; */
    padding-right: 10px;
    font-size: large;
}

/* .nav a:hover {
    font-size: 16px;
} */
.nav a:hover span {
    font-size: 16px;
}

.search {
    width: 600px;
    height: 45px;
    margin: auto;
    padding: 40px 0 90px 0;
}

.search-left {
    float: left;
    margin: auto;
    width: 10%;
    height: 45px;
    color: rgb(16, 14, 14);
    border: none;
    outline: none;
    background-color: white;
    border-radius: 50% 0 0 50%;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
}

.input {
    float: left;
    margin: auto;
    box-sizing: border-box;
    padding: 0 3% 0 3%;
    width: 80%;
    height: 45px;
    outline: none;
    border: 0;
    background-color: white;
    margin: 0;
    /* font-size: medium; */
}

span.search-buttom {
    float: left;
    margin: auto;
    width: 10%;
    height: 45px;
    color: rgb(16, 14, 14);
    border: none;
    outline: none;
    background-color: white;
    border-radius: 0 50% 50% 0;

    box-sizing: border-box;
    text-align: left;
    justify-content: center;
    align-items: center;
    line-height: 45px;
    padding-left: 10px;
}

span.search-buttom:hover {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    text-decoration: none;
    z-index: 2;
}

span.search-buttom span {
    display: none;
}

span.search-buttom:hover span {

    text-align: left;
    justify-content: center;
    align-items: center;
    /* margin: auto; */

    font-size: medium;

    /* margin: 1%; */
    border-radius: 8px;
    position: absolute;
    top: 0px;
    left: -40px;
    display: block;
    width: auto;
    height: 45px;
    /* background-color: blanchedalmond; */
    /* background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px); */

    z-index: 100;
    /* margin: -5px 5px 5px -5px; */

    overflow-y: scroll;
    overflow-x: hidden;
}

span.search-buttom:hover span::-webkit-scrollbar {
    /* 隐藏默认的滚动条 */
    -webkit-appearance: none;
}

span.search-buttom:hover span::-webkit-scrollbar:vertical {
    /* 设置垂直滚动条宽度 */
    width: 0px;
}

/* 这里不需要用到这个 */
span.search-buttom:hover span::-webkit-scrollbar:horizontal {
    /* 设置水平滚动条厚度 */
    height: 2px;
}

span.search-buttom:hover span::-webkit-scrollbar-thumb {
    /* 滚动条的其他样式定制，注意，这个一定也要定制，否则就是一个透明的滚动条 */
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, .4);
    background-color: rgba(0, 0, 0, .5);
}

.button {
    display: block;
    height: 45px;
    width: 130px;
    border-radius: 24px;
    /* transform: translate(-50%, -50%); */

    border: 0;


    border: none;
    outline: none;
    /* padding: 2px 10px; */
    box-sizing: border-box;
    border-radius: 35px;
    border: 1px solid rgb(255, 255, 255, 0.5);
    border-right: 1px solid rgb(255, 255, 255, 0.2);
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
    font-size: 14px;
    letter-spacing: 1px;
    line-height: normal;
    color: #fff;

    background-color: white !important;
    color: #666;
    cursor: pointer;
    font-weight: 400;
    z-index: inherit;
}

/* A {
    text-decoration: none;
    text-align: left;
    content: counter("sdfsd");
} */

div.favorites {
    clear: both;
    font-size: 12px;
    line-height: 22px;
    float: none;
    width: 80%;
    height: auto;
    margin: auto;


    text-align: center;
    justify-content: center;
    align-items: center;
}


div>dl>dt {
    float: left;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    margin: auto;

    font-size: medium;

    position: relative;
    /* background-color: transparent; */
    float: left;
    width: 100px;
    height: 60px;
    margin: 1%;
    border-radius: 8px;

    /* text-decoration: none; */
    color: #fff;
    background-color: rgba(255, 255, 255, .1);

}

dt:hover {
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    background-color: rgba(255, 228, 196, .3);
    text-decoration: none;
    z-index: 2;
}

div>dl>dt DL {
    display: none;
}

div>dl>dt:hover DL {

    text-align: left;
    justify-content: center;
    align-items: center;
    /* margin: auto; */

    font-size: medium;

    /* margin: 1%; */
    border-radius: 5px;
    position: absolute;
    top: 60px;
    left: 0;
    display: block;
    max-width: 500px;
    min-width: 250px;
    max-height: 300px;
    /* background-color: rgba(255, 255, 255, .2); */
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);

    z-index: 2;
    /* margin: -5px 5px 5px -5px; */

    overflow-y: scroll;
    overflow-x: hidden;

}

div>dl>dt:hover DL::-webkit-scrollbar {
    /* 隐藏默认的滚动条 */
    -webkit-appearance: none;
}

div>dl>dt:hover DL::-webkit-scrollbar:vertical {
    /* 设置垂直滚动条宽度 */
    width: 4px;
}

/* 这里不需要用到这个 */
/* div>dl>dt:hover DL::-webkit-scrollbar:horizontal {
    
    height: 4px;
} */

div>dl>dt:hover DL::-webkit-scrollbar-thumb {
    /* 滚动条的其他样式定制，注意，这个一定也要定制，否则就是一个透明的滚动条 */
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, .4);
    background-color: rgba(0, 0, 0, .5);
}

dl>dt>dl {
    margin: 0;
    padding: 0px 6px 5px 6px;
}

dt a {
    display: block !important;
    font-size: 0.9em !important;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    font-weight: 100 !important;
    color: black !important;
    width: 100%;

    display: flex;
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis !important;
}

.content h3 {
    display: block;
    font-size: 1em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 100;
    color: black;
    z-index: 1;
}

#header h1 {
    color: rgba(0, 0, 0, .9);
}

#header #nav {
    color: rgba(0, 0, 0, .8);
}

#header #nav ul a {
    color: inherit;
}

#footer {
    color: black !important;
}

#footer a {
    color: black !important;
}