<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://liuux.top/media/image/icon.jpg">
    <!-- 网页显示图标 -->
    <title>首页</title>
</head>

<body>
    <h1 style="text-align: center"> 个人博客 </h1>
    <h1>
        <a href="https://liuux.top/notebook/">笔记</a>
    </h1>
    <h1>
        <a href="https://liuux.top/game/">小游戏</a>
    </h1>

    <img style="border-radius:50%; overflow:hidden" src="https://liuux.top/media/image/icon.jpg" alt="icon.jpg">

    <footer>
        <div style="text-align: center">&copy;2023-2023 Me 版权所有</div>

        <div style="text-align: center">
            <a href="http://beian.miit.gov.cn/">黑ICP备2023006052号</a>
        </div>
    </footer>

</body>

</html>